<h1>Cities saved register</h1>
<ul class="heroes">
  <li *ngFor="let city of cities">
    <span class="badge">{{city.name}}</span> {{'saved ' + city.city }}
  </li>
</ul>
<label>The hero </label>

<!-- <input [(ngModel)]="heroToRegister" placeholder="the hero"/> -->
<input #searchBox [(ngModel)]="heroName" placeholder="the hero" id="search-box" (keyup)="search(searchBox.value)" />
<ul class="search-result">
  <li *ngFor="let hero of heroes$ | async" >
    <button (click)="setHeroToAdd(hero.id, hero.name)">
      {{hero.id + '\t' + hero.name}}
    </button>
  </li>
</ul>

<label> saved </label>
<input [(ngModel)]="cityToAdd" placeholder="the city"/>
<button (click)="addCity()">Add!</button>
